.place__image {
    max-height: 460px;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .place__image {
      max-height: 440px;
    }
  }
  @media (min-width: 426px) and (max-width: 768px) {
    .place__image {
      max-height: 340px;
    }
  }
  @media (min-width: 425px) and (max-width: 635px) {
    .place__image {
      max-height: 100%;
    }
  }

  