.cover__text {
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 560px;
  text-align: center;
}

@media (max-width: 425px) {
  .cover__text {
    width: calc(100% - 32px);
  }
}