.cover__background {
  margin: 12px auto 92px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  max-width: calc(100% - 96px);
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: white;
}

.cover__background:hover:after {
  opacity: 0.8;
}

.cover__background::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.7s ease-in;
  z-index: -1;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cover__background {
    max-width: 100%;
    min-height: 640px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
    .cover__background {
      max-width: 100%;
      min-height: 480px;
      margin: 10px auto 88px;
    }
  }

@media (max-width: 426px) {
    .cover__background {
      max-width: 100%;
      min-height: 200px;
      margin: 0 auto 64px;
    }
  }