.footer {
  max-width: calc(100% - 96px);
  margin: auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: calc(100% - 48px);
    flex-direction: column;
    margin-left: 16px;
  }
}